*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    overflow-x: hidden;
  }
  
  h1,
  .h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
    letter-spacing: -0.6px;
    @media (max-width: 768px) {
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.03rem;
    }
  }
  
  .h1-xl {
    font-size: 3.125rem;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.6px;
    @media (max-width: 768px) {
      font-size: 2.625;
      line-height: 1.1;
      letter-spacing: -0.03rem;
    }
    @media (max-width: 512px) {
      font-size: 1.875rem;
      line-height: 1.1;
      letter-spacing: -0.03rem;
    }
  }
  
  h2,
  .h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.025rem;
    width: fit-content;
  
    @media (max-width: 768px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  
  h3,
  .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025rem;
  
    @media (max-width: 768px) {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  
  h4,
  .h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
  
    @media (max-width: 768px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  
  h5,
  .h5 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.6px;
    letter-spacing: -0.02rem;
  
    @media (max-width: 768px) {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.03rem;
    }
  }
  
  h6,
  .h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  
    @media (max-width: 768px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  
  .body-1 {
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.3px;
  
    @media (max-width: 768px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  
  .body-bold {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
  
    @media (max-width: 768px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  
  .text-small {
    font-size: 15px;
    line-height: 1.25rem;
    font-weight: 500;
  
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1rem;
    }
  }
  
  
  p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.3px;
    margin:0;
    @media (max-width: 768px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  
  