@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
::selection{
  background-color: cornflowerblue;
  color: whitesmoke;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dots li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.dots li.active {
  background-color: #171717; 
}
