h2{
    font-size: 1.3rem !important;
    padding: 10px 0;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025rem;
  
    @media (max-width: 768px) {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  ul{
    margin-left:20px;
  }